A welcome modal needs to greet the user
User must click start a new game button
User must enter player names in text boxes on next screen
Names must appear on board
Boxes need to load so user can click in them
Boxes need to light up on hover for the user before a click
User needs to be able to click a box
Boxes need to be able to record and display a value of X or O
After a box is clicked the game needs to check for a winner
A message needs to appear to indicate which winner has won or if a tie has been reached
User must click one of two buttons to exit the game or start a new game
